.profleblock{
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    background: #f3f3f3;
    margin: 5px;
    display: inline-flex;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.imgprofileinfo{
    width: 25%;
}
.descprofileinfo{
    width: 75%;
}